

<div class="nav-sidebar" data-spy="affix" data-offset-top="170" data-offset-bottom="350">
  {% for i in (1..10) %}
    {% capture attr %}aside_block_{{i}}{% endcapture %}
    {% if settings[attr] %}
      {% assign linklistname = settings[attr] %}
      {% assign linklist = linklists[linklistname] %}
      {% unless linklist.title == blank %}
        <hr>
        <h5>{{ linklist.title }}</h5>
        <ul class="list-unstyled">
            {% for link in linklist.links %}
                <li {% if link.active %}class="site-nav--active"{% endif %}>
                    <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                </li>
            {% endfor %}
        </ul>
      {% endunless %}
    {% endif %}
  {% endfor %}
  <hr> 
</div>
