<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" hidden>
  <input name="id" id="productSelect" class="product-single__variants">


  <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
  <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">

  <button type="submit" name="add" id="AddToCart" class="btn">
    <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
  </button>
</form>
