<!-- /templates/collection.liquid -->
{% comment %}
For more information on collection tags:
- http://docs.shopify.com/themes/liquid-variables/collection
{% endcomment %}

{% include "main-sidebar" %}
{% comment %} include "breadcrumb" {% endcomment %}

{% paginate collection.products by 18 %}

  {% comment %}
  Use .grid--rev so that the collection tags appear below the products on mobile
  {% endcomment %}

  {% comment %} <div class="row"> {% endcomment %}
    {% comment %} <div class="col-md-10 col-md-push-2"> {% endcomment %}

      <div class="section-header hidden">
        <div class="section-header__right">
          {% include 'collection-sorting' %}
        </div>
      </div>

      {% if collection.description != blank %}
        <header class="section-header hidden">
          <div class="rte rte--header">
            {{ collection.description }}
          </div>
        </header>
      {% endif %}

      {% comment %}
      Use class grid-uniform to have evenly sized columns clear
      each other properly at each breakpoint.
      {% endcomment %}
      
      <div id="products-grid" class="row">

        {% comment %}
        Loop through our products in the current collection.
        See the snippet 'product-grid-item' for the layout.
        {% endcomment %}
       
        {% for product in collection.products %}
            {% include 'product-grid-item' %}
        {% else %}
          {% if collection.handle == 'all' %}
            {% comment %}
            Add default products to help with onboarding for collections/all only
            {% endcomment %}
            {% unless emptyState %}
              {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
              {% assign emptyState = true %}
            {% endunless %}
            {% include 'onboarding-empty-collection' %}
          {% else %}
            {% comment %}
            If collection exists but is empty, display message
            {% endcomment %}
            <div class="lead text-center">
              <br>
              {{ 'collections.general.no_matches' | t }}
            </div>
          {% endif %}
        {% endfor %}

      </div>

      {% if paginate.next %}
        <a id="more" href="{{ paginate.next.url }}">&nbsp;</a>
      {% endif %}

{% endpaginate %}

